/* === === === === === ===
   ARTICLES
   === === === === === ===
*/
.page-articles {
    margin-top: 15vh;
}
.links-header {
    text-decoration: none;
    color: #0585018e;
    font-size: 0.85em;
}
.links-header.active,
.links-header:hover {
    color: #058501;
}
.links-header.mute {
    color: #0585018e;
}

/* Article Header */
.card-img-overlay {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
    height: 20vh;
}
.article-big {
    background: url(/img/artikel/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.card-img {
    height: 412px;
}
.img-fluid {
    margin-left: -12px;
    height: 70px;
}
.card-populer {
    height: 70px;
}
.card-subjudul {
    margin-left: -30px;
}

/* Article Body */
.articles-body {
    border-top: 2px solid #ddd;
    padding-top: 10px;
}
.article-populer .card {
    margin-left: 10px;
}

/* Search */
.input-search {
    width: 90vw;
}
.btn-search {
    width: 10vw;
}

/* === === === === === ===
   SHOW ARTICLE
   === === === === === ===
*/
.detail-category-btn {
    padding: 3px 20px;
    margin-top: 15px;
    margin-left: 10px;
}
.detail-category-btn:hover {
    background: #058501;
}
.detail-category-btn a {
    font-size: 0.9em;
    color: #058501;
    text-decoration: none;
}
.detail-category-btn:hover a {
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .card-img {
        height: 412px;
    }
    .card-subjudul {
        margin-left: -10px;
    }
}
@media screen and (max-width: 992px) {
    .article-populer {
        margin-top: 30px;
    }
    .card-populer {
        width: auto;
    }
    .card-subjudul {
        margin-left: -12vw;
    }
    .input-search {
        height: 40px;
        margin-right: 10px;
    }
    .btn-search {
        width: 10vw;
    }
    .btn-search span {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .form-search {
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .input-search {
        height: 40px;
        margin-right: 10px;
    }
    .btn-search {
        width: 10vw;
    }
    .card-subjudul {
        margin-left: -8vw;
    }
    .card-img {
        height: 300px;
    }
}
